body {
  margin: 0;
  font-family: Arial;
  text-align: center;
}

.light {
  background: #f5f5f5;
  color: black;
  min-height: 100vh;
}

.dark {
  background: #121212;
  color: white;
  min-height: 100vh;
}

input {
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}